<% layout('layouts/boilerplate') %>
<!-- Link play css -->
<link rel="stylesheet" href="/css/game.css">
<h1 class="start mt-5"></h1>
<h2 class="score">0 points</h2>
<h3 class="lives">3  lives remaining!</h3>
<h3 class="sentence">---</h3>
<%- include('./partials/keyboard-and-letterspace') %>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const startSpeed = '<%=initialSpeed%>';
    const gameFont = '<%=font%>';
    const randSentences = <%-JSON.stringify(randSentences)%>;
    const mode = "<%-mode%>";
    const poison = "<%-poison%>";
    const currentUser = <%-JSON.stringify(currentUser)%>
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Luxurious+Script&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
<script src='/javascripts/game.js'></script>