<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-5">
            <h1>Leaderboards:</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h2>Normal Mode</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <% for(let i = 0; i < topTenNormal.length; i++) { %>
                        <li class="list-group-item">
                            <a href="/user/<%=topTenNormal[i].user._id%>"><strong><%=i + 1%>. <%= topTenNormal[i].user.username %>: <%= topTenNormal[i].score%></strong></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h2>Normal Poison Mode</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <% for(let i=0; i < topTenNormalPoison.length; i++) { %>
                        <li class="list-group-item">
                            <a href="/user/<%=topTenNormalPoison[i].user._id%>"><strong><%=i + 1%>. <%= topTenNormalPoison[i].user.username %>: <%= topTenNormalPoison[i].score%></strong></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h2>Random Mode</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <% for(let i=0; i < topTenRandom.length; i++) { %>
                        <li class="list-group-item">
                            <a href="/user/<%=topTenRandom[i].user._id%>"><strong> <%=i + 1%>. <%= topTenRandom[i].user.username %>: <%= topTenRandom[i].score%></strong></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h2>Random Poison Mode</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <% for(let i=0; i < topTenRandomPoison.length; i++) { %>
                        <li class="list-group-item">
                            <a href="/user/<%=topTenRandomPoison[i].user._id%>"><strong><%=i + 1%>. <%= topTenRandomPoison[i].user.username %>: <%= topTenRandomPoison[i].score%></strong></a>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>